/* This file contains our overrides to default Formstack styles. */

/********/
/* Variables */
/********/
$black-text: #212121;
$white: #ffffff;
$primary-blue: #0050D8;
$hover-blue: #2672de;
$validation-red: #d63e04;

/********/
/* Body */
/********/
html {
  font-size: 62.5%;
}

body {
  visibility: hidden;
}

legend {
  width: 100%;
}

.fsBody {
  font-style: normal;
  font-weight: normal;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $black-text;
  font-size: 1.6rem;
}

.fsBody .fsForm {
  margin: 2rem auto;
  padding: 2rem;
}

.wf-active .fsBody,
.wf-active .fsBody input,
.wf-active .fsBody select,
.wf-active .fsBody textarea {
  font-family: 'IBM Plex Sans', sans-serif;
}

/********/
/* Section Heading Container */
/********/
.fsborderradius .fsBody .fsSectionHeader {
  margin-top: 6.4rem;
  margin-bottom: 2rem;
  padding: 0;
  background-color: inherit;
}

/********/
/* Section Heading Text */
/********/
.fsBody .fsForm .fsSectionHeading {
  margin-top: 0rem;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 3.2rem;
  font-weight: 400;
  color: $black-text;
  line-height: 4rem;
}

/********/
/* Field Labels */
/********/
.coa-label {
  color: $black-text;
  border-color: #171717;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0.8rem;
}

.fsBody .fsLabel {
  @extend .coa-label;
}

.fsRequiredMarker {
  font-size: 1.8rem;
  font-weight: 700;
  color: $validation-red;
  // Commenting this out as per https://github.com/cityofaustin/techstack/issues/3718#issuecomment-580518575
//   margin-left: 1rem !important; // override Formstack
}

/********/
/* Fields */
/********/
// Have to override Formstack's !important css
.coa-field {
  border-radius: 4px !important;
  border-width: 2px !important;
  border-color: #000000 !important;
  line-height: normal; // prevent letters from getting cut off
}

.coa-input-field {
  @extend .coa-field;
  height: 4.8rem;
  padding: 12px 10px;
}

// Specificity is required to override the default Formstack styles
.fsRowBody input[type='text'],
.fsRowBody input[type='email'],
.fsRowBody input[type='number'],
.fsRowBody input[type='tel'],
.fsSignature,
.fsRowBody input[type='text'].fsRequired,
.fsRowBody input[type='email'].fsRequired,
.fsRowBody input[type='number'].fsRequired,
.fsRowBody input[type='tel'].fsRequired {
  @extend .coa-input-field;
}

// Signature field needs to maintain its original height
.fsSignature {
  height: inherit;
  padding: 0px;
}

.fsForm select,
.fsForm select.fsRequired {
  @extend .coa-field;
  height: 4.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  // Allow Formstack to calculate right padding for <select> fields
}

.fsForm textarea,
.fsForm textarea.fsRequired {
  @extend .coa-field;
  // Don't override height for textarea
  padding: 12px 10px;
}

.fsBody fieldset {
  margin-bottom: 3rem;
}

// Basically just targets the ":" in the Time Selector Widget
.fsBody .fieldset-content .always-ltr span {
  top: 10px;
  font-size: 1.6rem;
  height: 4.8rem;
}

/********/
/* Radio and Checkbox fields */
/********/
.fsRowBody input[type='checkbox'],
.fsRowBody input[type='radio'] {
  top: 0.3rem;

  &:before {
    border-color: #000000;
  }
}

.fsRowBody input[type='checkbox']:checked:before {
  border-color: $primary-blue;
  background-color: $primary-blue;
}

.fsRowBody input[type='radio']:checked:before {
  border-color: $primary-blue;
}

// Formstack's smallest breakpoint
@mixin formstack-sm {
  @media (max-width: 40em) {
    @content;
  }
}

label.fsOptionLabel {
  font-size: 1.6rem;
  line-height: 2rem;
  color: $black-text;

  @include formstack-sm {
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #f1f3f6;
    color: $black-text;
  }
}

// Undo Formstack's margin/padding overrides on checkbox and radio fields on focus
.fsFieldFocused:not(.fsValidationError).fsSpan100 {
  padding: inherit !important;
  margin: inherit !important;
}

/********/
/* Currency Fields */
/********/
.fsCurrency {
  line-height: 4.8rem;
  font-size: 1.6rem;
  width: 10px;
}

/*
  .fsCurrency will always be 15px wide (10px + 5px margin-right)
  The sibling input field must fill the space minus 15px.
  Overrides similar calculation in default Formstack styles.
*/
.fsCurrency ~ input.fsField {
  width: calc(100% - 15px) !important;
}

/********/
/* Address Fields */
/********/
.fsBody .fsSubField {
  float: inherit; // remove float:left which moves fields onto the same line
  margin-bottom: 1rem;
}

.fsBody .fsSubField.fsFieldCity {
  width: 100%;
}

.fsBody .fsSubField.fsFieldState {
  width: fit-content;
}

.fsBody .fsSubField.fsFieldZip {
  width: fit-content;
}

/********/
/* Focus */
/********/
// Not using .fsFieldFocused here, otherwise every input in an address block would be highlighted
.fsForm {
  input,
  textarea,
  select {
    &:focus {
      // Need to override formstack !important outline styles
      outline: 0.2rem dotted #aeb0b5 !important;
      outline-offset: 0.3rem !important;
    }
  }
}

.fsFieldFocused div.fsSupporting {
  color: #3d4551;
}

/********/
/* Helper Text */
/********/
.coa-helper-text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #3d4551;
  margin-bottom: 1rem;
}

.fsFieldCell > .fsSupporting,
.fieldset-content > .fsSupporting,
.fsBody .fsSubField label {
  @extend .coa-helper-text;
}

/*
  Supporting Text in subFields must keep their small font-size.
  Or else the text in Address Blocks (like "ZIP Code") won't fit.
*/
.fsSubField > .fsSupporting {
  color: #3d4551;
  margin-bottom: 0.8rem;
}

.fsBody .fieldset-content .always-ltr {
  margin-top: 0.8rem;
}

/*
  If .fsSupporting comes before .always-ltr (ex: for the Time Picker Widget)
  then let ".fsSubField > .fsSupporting" control the margin between them.
*/
.fsBody .fieldset-content .fsSupporting + .always-ltr {
  margin-top: 0rem;
}

/********/
/* Error Handling */
/********/
.coa-error-text {
  color: $validation-red;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: left;
}

div.fsError {
  @extend .coa-error-text;

  strong {
    display: block;
  }
}

.fsValidationError {
  input[type='text'].fsRequired,
  input[type='email'].fsRequired,
  input[type='number'].fsRequired,
  input[type='tel'].fsRequired,
  select.fsRequired,
  textarea.fsRequired,
  .fsSignature.fsRequired {
    @extend .coa-field;
    border-color: $validation-red !important; /* Need to Override Formstack's !important css */
  }

  .fsLabel,
  .fsRequiredLabel,
  .fsRequiredMarker {
    color: $validation-red !important;
  }

  .fsMatrix,
  .fsOptionLabel,
  .fsSupporting {
    color: #3d4551 !important;
  }
}

/********/
/* Buttons */
/********/
/*
  Need to use a @mixin rather than a class.
  Because only @mixins can be included inside of other @mixins
  Classes can't be extended within @mixins
  And our button styles needed to be included into a media query mixin
*/
@mixin coa-button() {
  height: 4.8rem;
  width: 14.5rem;
  border-radius: 0.4rem !important;
}

@mixin coa-pagination-button() {
  @include coa-button;
  border-width: 0.2rem;
  background-color: #d9e8f6 !important;
  color: $primary-blue !important;
  &:hover {
    background-color: $primary-blue !important;
    color: $white !important;
  }
}

// Breakpoint used by formstack to determine when to set mobile styling
@mixin formstack-mobile {
  @media all and (max-width: 699px),
    all and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait),
    all and (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
    @content;
  }
}

.fsSubmitButton {
  @include coa-button;
  background-color: $primary-blue !important;
  color: $white !important;
  &:hover {
    background-color: $hover-blue !important;
  }
}

.fsPagination .fsSubmitButton,
.fsPagination .fsSubmitMultipage {
  @include formstack-mobile {
    margin-top: 0px !important;
    width: 14.5rem;
  }
}

.fsPagination .fsPreviousButton,
.fsPagination .fsNextButton {
  @include coa-pagination-button;
  @include formstack-mobile {
    @include coa-pagination-button;
  }
}

span.fsFull {
  @include formstack-mobile {
    display: inherit;
  }
}

// Remove arrow buttons on mobile
.fsPagination .fsPreviousButton:before,
.fsPagination .fsNextButton:before,
.rtl .fsPagination .fsPreviousButton:before,
.rtl .fsPagination .fsNextButton:before {
  @include formstack-mobile {
    content: none;
  }
}

/********/
/* Confirmation Page */
/********/
.fsSectionText p {
  font-size: 1.7rem;
  font-weight: 400;
  color: $black-text;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height:2.8rem;
}

#fsSubmissionCheckmark ~ .fsSectionHeading {
  margin-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 400;
  color: $black-text;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height:2.8rem;
}

/********/
/* Datepicker */
/********/
.coa-calendar-icon {
  cursor: pointer;
  color: $primary-blue;
  font-size: 3rem;
  line-height: 5rem;
  margin-left: 1rem;
}

.fsBody .ui-datepicker-trigger {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

// Show the save and resume dialog at the bottom instead of the top
.fs-ngdialog-content {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 100px;
}

/********/
/* Save and Resume Button */
/********/
div.fsSaveIncomplete {
  background: #F6F6F6;
  &:hover {
    cursor: pointer;
    background: #E6E6E6;
  }
  &>a {
    text-decoration: none;
    color: $primary-blue;
  }
}

/********/
/* Save and Resume Modal */
/********/
$side-modal-padding: 3.2rem;

// Modal Container Desktop
.fs-modal-small .fs-ngdialog-content {
  width: 660px;

  @include formstack-mobile {
    width: auto;
    margin: 0 2rem;
  }
}

// Top part of modal
.fs-modal-small .fs-ngdialog-content .fs-form-dialog__title {
  padding: 2.8rem $side-modal-padding 0 $side-modal-padding;

  color: $black-text;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.25px;
}

// Middle part of modal
.fs-modal-small .fs-ngdialog-content .fs-modal__middle {
  background: none;
  border: none;
  padding: 0 $side-modal-padding 3.2rem $side-modal-padding;
  color: $black-text;
  font-size: 1.8rem;
  letter-spacing: 0.15px;
}

// Bottom part of modal
.fs-modal-small .fs-ngdialog-content .fs-modal__bottom {
  background: #f3f3f3;
  padding: 1.6rem 3.2rem 1.6rem 3.2rem !important;
}

.fs-btn2.fs-btn2--size_medium {
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  font-size: 1.6rem;
  font-weight: 500 !important;
}

.fs-btn2.fs-btn2--size_medium .fs-btn2__text {
  height: auto;
}

// "Cancel" button
.fs-btn2.fs-btn2--style_edit-dark {
  background: $white;
  color: $black-text;
}

// "Save and get link" button
.fs-btn2.fs-btn2--style_create {
  background: $primary-blue;
  &:hover {
    background-color: $hover-blue;
  }
}

/********/
/* Save and Resume Confirmation Page */
/********/
// Page container
.fs--grid-2-8 {
  width: auto;
}
.fs--grid-4-8 {
  width: auto;
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  float: none !important;
  @include formstack-mobile {
    width: auto;
  }
}

// Page Title
.module-main__dialog-top-left {
  font-size: 3.2rem;
  padding-bottom: 1rem;

  @include formstack-sm {
    font-size: 2.2rem;
  }
}

// The "link below", for mobile formatting
.fs-module-main__message--initial > p {
  word-break: break-word;
}

// "Without the link..." container
.fs-thin-indicators.fs-thin-indicators--style_error {
  border: none;
  background: #fef0c8;
  padding: 1.6rem;
  margin-bottom: 3rem !important;
}

// "Without the link..." text
.fs-thin-indicators .fs-thin-indicators__content {
  font-size: 1.6rem;
  line-height: 2rem;
  color: $black-text;
  padding: 0px;
}

// "Send save and resume link" container
.fs--style_center {
  text-align: left !important;
}

// Email input label
.fsBody label.coa-save-and-resume-label {
  @extend .coa-label;
  margin-bottom: 0rem;
}

// Email input helper text
.coa-save-and-resume-helper-text {
  @extend .coa-helper-text;
  margin-bottom: 0rem; // Let email input handle margins because we have field-level error messages
}

// Hide custom email input labels when "secondary" message is no longer hidden.
// When "secondary" message appears, that means we're now on the "Resend email" screen.
.fs-module-main__message--secondary:not(.hidden) {
  & + .coa-save-and-resume-label {
    display: none;
    & + .coa-save-and-resume-helper-text {
      display: none;
    }
  }
}

// Error Message Container
.fs-thick-indicators.fs-thick-indicators--style_error {
  @extend .coa-error-text;
  font-weight: 700;
  border: none;
  background: none;
  margin-top: 1rem !important;

  // Change email input border color if there is an error
  & + .fs-form-input.fs-form-dialog__password {
    border-color: $validation-red !important;
  }

  // Remove empty space when its hidden
  &.hidden {
    margin-top: 0 !important;
    position: absolute;

    // Don't change email input border color if error is hidden
    & + .fs-form-input.fs-form-dialog__password {
      border-color: inherit !important;
    }
  }
}

// Success Message Container
// (unused by Formstack as far as I can tell, but it still causes dead whitespace)
.fs-thick-indicators.fs-thick-indicators--style_success {
  &.hidden {
    margin-top: 0 !important;
    position: absolute;
  }
}

// For the little (!) icon
.coa-error-icon {
  position: absolute;
  margin-left: -3rem;
  margin-top: -2px;

  @include formstack-sm {
    position: inherit;
    float: left;
    margin-right: .5rem;
    margin-left: 0rem;
  }
}

// Overflow styles required for our little (!) icon to show up
.fs--grid {
  overflow: visible;
}
.fs-thick-indicators.fs-thick-indicators--style_error {
  overflow: visible;
}

// Email input
.fs-form-input.fs-form-dialog__password {
  @extend .coa-input-field;
  font-size: 1.6rem;
  margin-top: 1rem;
}

// Buttons on "Save and Resume" Page
.fsBody input {
  font-family: 'IBM Plex Sans', sans-serif;
}

// "Send save and resume link" button
input.fs-btn2.fs-btn2--state_active.fs-btn2--style_link {
  background: $primary-blue;
  &:hover {
    background-color: $hover-blue;
  }
  @include formstack-sm {
    width: 100%;
  }
}
