/* This file contains our overrides to default Formstack styles. */

/********/
/* Body */
/********/
.fsBody {
    font-style: normal;
    font-weight: normal;
}

.wf-active .fsBody,
.wf-active .fsBody input,
.wf-active .fsBody select,
.wf-active .fsBody textarea {
    font-family: 'IBM Plex Sans', sans-serif;
}

/********/
/* Section Heading Container */
/********/
.fsBody .fsSectionHeader {
    margin-bottom: 6.4rem;
    padding: 0;
    background-color: inherit;
}
.fsborderradius .fsBody .fsSectionHeader {
    margin-bottom: 0.7em;
}

/********/
/* Section Heading Text */
/********/
.fsBody .fsForm .fsSectionHeading {
    margin-top: 0rem;
    text-align: left;
    font-size: 3.2rem;
    font-weight: 400;
    color: #212121;
    line-height: 1em;
}

/********/
/* Field Labels */
/********/
.fsBody .fsLabel {
    color: #212121;
    border-color: #171717;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: .8rem;
}

.fsRequiredMarker {
    font-size: 1.8rem;
    visibility: hidden;
    position: relative;
}

.fsRequiredMarker:after {
    visibility: visible;
    top: 0;
    left: 0;
    content: "(Required)";
    font-size: 1.8rem;
    font-weight: 700;
    color: #D63E04;
}

/********/
/* FieldCell and Helper Text */
/********/
.fsFieldCell input,
.fsFieldCell textarea,
.fsFieldCell select {
    border-radius: 4px;
    border-color: #dbdee1;
}

.fsFieldCell > .fsSupporting,
.fieldset-content > .fsSupporting {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #3D4551;
    margin-bottom: .8rem;
}

/*
  Supporting Text in subFields must keep their small font-size.
  Or else the text in Address Blocks (like "ZIP Code") won't fit.
*/
.fsSubField > .fsSupporting {
    color: #3D4551;
    margin-bottom: .8rem;
}

/********/
/* Error Handling */
/********/
.fsValidationError {
}
