/* This file contains our overrides to default Formstack styles. */

/********/
/* Body */
/********/
.fsBody {
    font-style: normal;
    font-weight: normal;
}

.wf-active .fsBody,
.wf-active .fsBody input,
.wf-active .fsBody select,
.wf-active .fsBody textarea {
    font-family: 'IBM Plex Sans', sans-serif;
}

/********/
/* Section Heading Container */
/********/
.fsBody .fsSectionHeader {
    margin-bottom: 6.4rem;
    padding: 0;
    background-color: inherit;
}
.fsborderradius .fsBody .fsSectionHeader {
    margin-bottom: 0.7em;
}

/********/
/* Section Heading Text */
/********/
.fsBody .fsForm .fsSectionHeading {
    margin-top: 0rem;
    text-align: left;
    font-size: 3.2rem;
    font-weight: 400;
    color: #212121;
    line-height: 1em;
}

/********/
/* Field Labels */
/********/
.fsBody .fsLabel {
    color: #212121;
    border-color: #171717;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: .8rem;
}

.fsRequiredMarker {
    font-size: 1.8rem;
    visibility: hidden;
    position: relative;

    &:after {
      visibility: visible;
      top: 0;
      left: 0;
      content: "(Required)";
      font-size: 1.8rem;
      font-weight: 700;
      color: #D63E04;
    }
}

/********/
/* Fields */
/********/
// Have to override Formstack's !important css
.coa-field {
  border-radius: 4px !important;
  border-width: 2px !important;
  border-color: #000000 !important;
  line-height: normal; // prevent letters from getting cut off
}

// Specificity is required to override the default Formstack styles
.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsSignature,
.fsRowBody input[type="text"].fsRequired,
.fsRowBody input[type="email"].fsRequired,
.fsRowBody input[type="number"].fsRequired,
.fsRowBody input[type="tel"].fsRequired {
		@extend .coa-field;
    height: 4.8rem;
    padding: 12px 10px;
}

.fsForm select,
.fsForm select.fsRequired {
    @extend .coa-field;
    height: 4.8rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    // Allow Formstack to calculate right padding for <select> fields
}

.fsForm textarea,
.fsForm textarea.fsRequired {
    @extend .coa-field;
    // Don't override height for textarea
    padding: 12px 10px;
}

.fsBody fieldset {
  margin-bottom: 3rem;
}

.fsRowBody input[type="checkbox"]:before,
.fsRowBody input[type="radio"]:before {
  border-color: #000000;
}

.fsRowBody input[type="checkbox"]:checked:before {
  border-color: #0050D8;
  background-color: #0050D8;
}

.fsRowBody input[type="radio"]:checked:before {
  border-color: #0050D8;
}

// Undo Fromstack's margin/padding overrides on checkbox and radio fields on focus
.fsFieldFocused:not(.fsValidationError).fsSpan100 {
  padding: inherit !important;
  margin: inherit !important;
}

/********/
/* Helper Text */
/********/
.fsFieldCell > .fsSupporting,
.fieldset-content > .fsSupporting {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #3D4551;
    margin-bottom: .8rem;
}

/*
  Supporting Text in subFields must keep their small font-size.
  Or else the text in Address Blocks (like "ZIP Code") won't fit.
*/
.fsSubField > .fsSupporting {
    color: #3D4551;
    margin-bottom: .8rem;
}

.fsBody .fieldset-content .always-ltr {
  margin-top: .8rem;
}

/*
  If .fsSupporting comes before .always-ltr (ex: for the Time Picker Widget)
  then let ".fsSubField > .fsSupporting" control the margin between them.
*/
.fsBody .fieldset-content .fsSupporting + .always-ltr {
  margin-top: 0rem;
}

/********/
/* Error Handling */
/********/
.fsValidationError {
  input[type="text"].fsRequired,
  input[type="email"].fsRequired,
  input[type="number"].fsRequired,
  input[type="tel"].fsRequired,
  select.fsRequired,
  textarea.fsRequired,
  .fsSignature.fsRequired {
      @extend .coa-field;
      border-color: #D63E04 !important; /* Need to Override Formstack's !important css */
  }
}

/********/
/* Buttons */
/********/
.coa-button {
  height: 4.8rem;
  border-radius: .4rem !important;
}

.fsSubmitButton {
  @extend .coa-button;
  background-color: #0050D8 !important;
  color: #FFFFFF !important;
  &:hover {
    background-color: #2672DE !important;
  }
}

.fsPreviousButton, .fsNextButton {
  @extend .coa-button;
  border-width: .2rem;
  border-color: #0050D8 !important;
  background-color: #FFFFFF !important;
  color: #0050D8 !important;
  &:hover {
    background-color: #EFF6FB !important;
  }
}
