/*
  From static.formstack.com/forms/css/3/default-v4_f1d5918f48.css
  Included for experimentation, testing, and reference for developers in preview.
  Do not include your permanent style changes in this file, instead please see scss/override.scss
*/

.fsBody #fsTopLogo .reportAbuse {
  text-align: center;
  font-size: 10px
}

.fsBody #fsTopLogo .reportAbuse a {
  background: 0 0;
  height: 16px;
  color: #666
}

#fsTopLogo {
  position: absolute;
  top: 0;
  right: 9%;
  margin: 0;
  display: none
}

#fsTopLogo a {
  width: 150px;
  height: 50px;
  background: url(../../images/3/formstackLogo.png) no-repeat center center;
  display: block
}

#fsTopLogo a span {
  display: none
}

.fsBody {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font-weight: 400;
  font-style: normal
}

.fsBody .fsForm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.fsBody .fsPage {
  min-width: 400px
}

.fsEmbed .fsPage {
  min-width: inherit!important
}

.fsEmbed .fsForm {
  display: inherit
}

.fsBody .fsForm .fsTable {
  text-align: left;
  padding: 0 0 4px;
  border: none;
  margin: 9px auto;
  width: 100%
}

#fsFooterImage {
  clear: both;
  padding-top: 20px
}

@media (max-width:40em) {
  .fsBody {
    background-color: none!important
  }
}

.fsBody .fsFieldRow,
.fsBody .fsRowBody {
  padding: 0
}

.fsBody .fsSubField {
  float: left
}

.fsBody .fsSubField:last-child {
  margin-right: 0
}

.fsBody .rtl .fsSubField {
  float: right;
  margin: 0 0 0 5px
}

@media (max-width:40em) {
  .fsBody {
    padding: 0!important
  }
  .fsBody .fsForm {
    margin: 0!important
  }
  .fsSubField {
    width: 100%!important
  }
}

.fsForm .ui-slider-handle,
.fsForm input,
.fsForm select,
.fsForm textarea {
  -moz-transition: box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  -webkit-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out
}

.fsForm .ui-slider-handle:focus,
.fsForm input:focus,
.fsForm select:focus,
.fsForm textarea:focus {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0!important
}

.fsForm ::-moz-focus-inner {
  border: none!important;
  outline: 0!important
}

.fsForm :not(textarea):-moz-focusring {
  color: transparent
}

.fsErrorLabel {
  display: none
}

.fsValidationError .fsLabel,
.fsValidationError .fsRequiredLabel,
.fsValidationError .fsRequiredMarker {
  color: #ce5f6d!important
}

.fsValidationError .fsErrorLabel {
  display: inline-block
}

.fsValidationError .fsSignature,
.fsValidationError input[type=email],
.fsValidationError input[type=number],
.fsValidationError input[type=tel],
.fsValidationError input[type=text],
.fsValidationError select,
.fsValidationError textarea {
  border: 1px solid #d0d4d8!important;
  color: #797d88!important;
  background-color: #fff!important
}

.fsValidationError input[type=checkbox]:before,
.fsValidationError input[type=checkbox]:checked:before,
.fsValidationError input[type=radio]:before,
.fsValidationError input[type=radio]:checked:before {
  background-color: #fff!important
}

.fsValidationError input[type=checkbox]:before,
.fsValidationError input[type=radio]:before {
  border-color: #d0d4d8!important
}

.fsValidationError input[type=checkbox]:checked:before,
.fsValidationError input[type=radio]:checked:before {
  border-color: #797d88!important
}

.fsValidationError select:not([multiple=multiple]) {
  background-image: url(data:image/svg+xml;utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201000%201805.18%22%3E%3Cpath%20fill%3D%22%23797d88%22%20d%3D%22M461.6%2C643.4L10.9%2C79.9C-14.9%2C47.7%2C8%2C0%2C49.3%2C0h901.5c41.2%2C0%2C64.1%2C47.7%2C38.4%2C79.9L538.4%2C643.4%09C518.7%2C668%2C481.3%2C668%2C461.6%2C643.4z%22%20transform%3D%22rotate%28180%20500%20902.59%29%20translate%280%201143.28%29%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23797d88%22%20d%3D%22M461.6%2C643.4L10.9%2C79.9C-14.9%2C47.7%2C8%2C0%2C49.3%2C0h901.5c41.2%2C0%2C64.1%2C47.7%2C38.4%2C79.9L538.4%2C643.4%09C518.7%2C668%2C481.3%2C668%2C461.6%2C643.4z%22%20transform%3D%22translate%280%201143.28%29%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)!important
}

.fsValidationError .fsMatrix td,
.fsValidationError .fsMatrix th,
.fsValidationError .fsMatrix tr {
  border-color: #d0d4d8!important
}

.fsValidationError .fsMatrix .fsMatrixCol1 {
  background: #fff!important;
  background: rgba(255, 255, 255, .2)!important
}

.fsValidationError .fsMatrix .fsMatrixCol2 {
  background: #cfd4d8!important;
  background: rgba(207, 212, 216, .2)!important
}

.fsValidationError .fsMatrix,
.fsValidationError .fsOptionLabel,
.fsValidationError .fsSupporting {
  color: #797d88!important
}

@media \0screen {
  .fsValidationError {
    border: 1px solid #ce5f6d
  }
}

@media \0screen {
  .fsForm input:focus,
  .fsForm select:focus,
  .fsForm textarea:focus {
    position: relative;
    top: -2px!important;
    left: -2px!important;
    zoom: 1
  }
}

div.fsError {
  text-align: center;
  clear: both
}

.fsBody .warningNoJS {
  color: #ce5f6d;
  background-color: #fae9e9;
  border: 1px solid #ce5f6d;
  padding: 20px
}

#fsPasswordError {
  padding: 0;
  font-weight: 700;
  text-align: center;
  color: #ce5f6d
}

div.fsError {
  border: 1px solid #ce5f6d;
  color: #ce5f6d;
  background-color: #fae9e9
}

.fsBody .fsHidden,
.fsBody .fsWorkflowHidden {
  display: none;
  padding: 0!important;
  margin: 0!important
}

.fsBody .fsHiddenPage {
  display: none;
  height: 0;
  margin: 0!important;
  padding: 0!important
}

.fsHiddenByFieldSetting {
  display: none
}

.hidden {
  position: absolute;
  left: -999em;
  width: .1em;
  height: .1em;
  overflow: hidden
}

.clear,
.fs-clear {
  clear: both
}

.fsBody .showMobile {
  display: none
}

span.fsSlim {
  display: none
}

span.fsFull {
  display: inherit
}

.rtl .always-ltr {
  display: inline-block;
  text-align: right;
  direction: ltr
}

.rtl .always-ltr>* {
  display: inline-block;
  margin-top: 0
}

@media all and (max-width:699px),
all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsBody .showMobile {
    display: inherit
  }
  .fsBody .hideMobile {
    display: none
  }
}

@media only screen and (max-width:1024px) {
  .fsBody img {
    max-width: 100%;
    height: auto!important
  }
}

.fsBody .fsLabel,
.fsBody label {
  display: block
}

.fsForm .fsLabelHorizontal legend.fsLabelHorizontal,
.fsForm .fsLabelHorizontal>label,
.fsForm .fsLabelHorizontal>legend,
.fsForm .fsLabelHorizontal>span.fsLabel {
  float: left;
  width: 20%;
  line-height: normal
}

.fsForm .fsLabelHorizontal .fieldset-content,
.fsForm .fsLabelHorizontal .fsFieldHorizontal {
  width: 100%
}

.fsForm .fsLabelHorizontal .fsLabel+.fieldset-content,
.fsForm .fsLabelHorizontal .fsLabel+.fsFieldHorizontal {
  float: right;
  width: 75%
}

.fsBody .fsLabelHorizontal .fieldset-content label,
.fsBody .fsLabelVertical .fieldset-content label {
  width: auto
}

.fsBody .fsSupporting {
  margin-top: 2px;
  clear: both
}

.fsSupporting.fsRequiredLabel span {
  font-size: inherit;
  height: inherit
}

.fsBody .fieldset-content .fsOptionLabel.horizontal~div.horizontal {
  display: inline-block;
  width: 100%
}

.fsBody .fieldset-content .fsOptionLabel.horizontal~div.horizontal .fsOtherField {
  margin-top: 0
}

.fsOptionLabel.horizontal {
  float: left
}

.fsOptionLabel.horizontal+.fsOtherField {
  float: left
}

.rtl .fsFieldRow .fsRowBody .fieldset-content .fsOptionLabel.vertical {
  margin-right: 0!important
}

.rtl .fsFieldRow .fsRowBody .fieldset-content .fsOptionLabel.horizontal {
  float: right;
  margin: 0 0 0 20px
}

.rtl .fsFieldRow .fsRowBody .fieldset-content .fsOptionLabel.horizontal+.fsOtherField {
  float: right
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsOptionLabel {
    min-width: 4em
  }
}

@media (max-width:40em) {
  label.fsOptionLabel {
    display: block;
    margin: .5em 0;
    padding: .5em 1em;
    cursor: pointer
  }
  label.fsOptionLabel.horizontal {
    float: none;
    margin: .5em 0;
    margin-right: 0!important
  }
  label.fsOptionLabel.horizontal~div.horizontal {
    display: block!important;
    margin-top: 0!important
  }
  label.fsOptionLabel.vertical~div.vertical {
    margin-top: 0!important
  }
  .fieldset-content .fsOptionLabel:first-child {
    margin-top: 0
  }
  .rtl .fsFieldRow .fieldset-content .fsOptionLabel.horizontal {
    float: none!important;
    margin: 0 0 0 20px
  }
}

.fsBody .fsCallout {
  position: absolute;
  z-index: 5;
  width: 360px
}

.fsBody .fsCalloutTop {
  position: relative;
  width: 0;
  height: 0;
  margin-top: -20px;
  margin-left: 10px;
  border-width: 0 10px 10px 10px;
  border-style: solid
}

.fsBody .fsCalloutBody {
  -moz-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, .25);
  -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, .25);
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, .25)
}

.fsBody .fsCalloutBody a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #ddd
}

.fsBody .fsCalloutBody a:hover {
  color: #aaa
}

.fsBody .fsCalloutBottom {
  display: none
}

@media (max-width:40em) {
  .fsCallout {
    left: inherit!important;
    max-width: 85%;
    max-width: calc(100% - 40px)
  }
}

.fsForm textarea,
.fsRowBody input[type=email],
.fsRowBody input[type=number],
.fsRowBody input[type=tel],
.fsRowBody input[type=text],
.fsSignature {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0))
}

.fsForm select,
.fsForm textarea,
.fsRowBody input[type=email],
.fsRowBody input[type=number],
.fsRowBody input[type=tel],
.fsRowBody input[type=text] {
  width: 100%;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400
}

.fsForm select::-webkit-input-placeholder,
.fsForm textarea::-webkit-input-placeholder,
.fsRowBody input[type=email]::-webkit-input-placeholder,
.fsRowBody input[type=number]::-webkit-input-placeholder,
.fsRowBody input[type=tel]::-webkit-input-placeholder,
.fsRowBody input[type=text]::-webkit-input-placeholder {
  line-height: normal
}

.fsForm select:-moz-placeholder,
.fsForm textarea:-moz-placeholder,
.fsRowBody input[type=email]:-moz-placeholder,
.fsRowBody input[type=number]:-moz-placeholder,
.fsRowBody input[type=tel]:-moz-placeholder,
.fsRowBody input[type=text]:-moz-placeholder {
  line-height: normal
}

.fsForm select::-ms-input-placeholder,
.fsForm textarea::-ms-input-placeholder,
.fsRowBody input[type=email]::-ms-input-placeholder,
.fsRowBody input[type=number]::-ms-input-placeholder,
.fsRowBody input[type=tel]::-ms-input-placeholder,
.fsRowBody input[type=text]::-ms-input-placeholder {
  line-height: normal
}

.fsHiddenFieldData {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid #cfd4d8;
  border-radius: 5px;
  line-height: 1
}

.fsHiddenFieldData .fsLockIcon {
  width: 13px;
  height: 13px;
  fill: #687680;
  vertical-align: bottom;
  margin-right: 7px
}

.fsHiddenFieldData p {
  margin-bottom: 0;
  color: #687680;
  font-size: .75rem;
  line-height: 16px
}

.fsReadOnly input[type=email],
.fsReadOnly input[type=number],
.fsReadOnly input[type=tel],
.fsReadOnly input[type=text],
.fsReadOnly textarea,
.fsWorkflowReadOnly input[type=email],
.fsWorkflowReadOnly input[type=number],
.fsWorkflowReadOnly input[type=tel],
.fsWorkflowReadOnly input[type=text],
.fsWorkflowReadOnly textarea {
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  opacity: .65
}

.fsReadOnly input[type=email],
.fsReadOnly input[type=number],
.fsReadOnly input[type=tel]:not(.fsReactInteractiveInput),
.fsReadOnly input[type=text],
.fsReadOnly textarea,
.fsWorkflowReadOnly input[type=email],
.fsWorkflowReadOnly input[type=number],
.fsWorkflowReadOnly input[type=tel]:not(.fsReactInteractiveInput),
.fsWorkflowReadOnly input[type=text],
.fsWorkflowReadOnly textarea {
  padding-left: 0!important;
  padding-right: 0!important
}

.fsReadOnly input[type=number],
.fsWorkflowReadOnly input[type=number] {
  -moz-appearance: textfield
}

.fsReadOnly .fsDescriptionArea,
.fsReadOnly .fsEmbed,
.fsReadOnly .fsFileValue,
.fsReadOnly .fsLabel,
.fsReadOnly .fsMatrix,
.fsReadOnly .fsOptionLabel,
.fsReadOnly .fsProductField,
.fsReadOnly .fsSignatureValue,
.fsReadOnly .fsSupporting,
.fsReadOnly input[type=file],
.fsReadOnly input[type=radio],
.fsReadOnly select,
.fsReadOnly.fsSectionHeader,
.fsWorkflowReadOnly .fsDescriptionArea,
.fsWorkflowReadOnly .fsEmbed,
.fsWorkflowReadOnly .fsFileValue,
.fsWorkflowReadOnly .fsLabel,
.fsWorkflowReadOnly .fsMatrix,
.fsWorkflowReadOnly .fsOptionLabel,
.fsWorkflowReadOnly .fsProductField,
.fsWorkflowReadOnly .fsSignatureValue,
.fsWorkflowReadOnly .fsSupporting,
.fsWorkflowReadOnly input[type=file],
.fsWorkflowReadOnly input[type=radio],
.fsWorkflowReadOnly select,
.fsWorkflowReadOnly.fsSectionHeader {
  opacity: .65
}

.fsReadOnly .fieldset-content select:not([multiple=multiple]),
.fsWorkflowReadOnly .fieldset-content select:not([multiple=multiple]) {
  background-image: none!important
}

.fsReadOnly .ui-datepicker-trigger,
.fsWorkflowReadOnly .ui-datepicker-trigger {
  display: none
}

.fsRowBody input[type=checkbox],
.fsRowBody input[type=radio] {
  -webkit-appearance: none;
  position: relative;
  float: left;
  margin: 0 7px 0 0;
  padding: 0;
  border: none;
  vertical-align: middle;
  overflow: hidden
}

.fsRowBody input[type=checkbox]:before,
.fsRowBody input[type=checkbox]:checked:before,
.fsRowBody input[type=radio]:before,
.fsRowBody input[type=radio]:checked:before {
  content: '';
  display: inline-block;
  margin-top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: border, background-color;
  -o-transition-property: border, background-color;
  -webkit-transition-property: border, background-color;
  transition-property: border, background-color;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

.rtl .fsFieldRow input[type=checkbox],
.rtl .fsFieldRow input[type=radio] {
  float: right;
  margin: 0 0 0 7px
}

.rtl .fsFieldRow input[type=checkbox].vertical,
.rtl .fsFieldRow input[type=radio].vertical {
  clear: right;
  margin-right: 0;
  width: auto
}

.rtl .fsFieldRow input[type=checkbox]:before,
.rtl .fsFieldRow input[type=checkbox]:checked:before,
.rtl .fsFieldRow input[type=radio]:before,
.rtl .fsFieldRow input[type=radio]:checked:before {
  margin-right: 0
}

.fsRowBody input[type=radio] {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.fsRowBody input[type=radio]:before,
.fsRowBody input[type=radio]:checked:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.fsRowBody input[type=checkbox] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0
}

.fsRowBody input[type=checkbox]:checked:before {
  border: none;
  background-size: 65%;
  background-position: 50%;
  background-repeat: no-repeat
}

.fsForm select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-top: .5em;
  padding-bottom: .5em
}

.fsForm select:not([multiple=multiple]) {
  -moz-background-size: .5em;
  -o-background-size: .5em;
  -webkit-background-size: .5em;
  background-size: .5em;
  background-repeat: no-repeat
}

.fsForm select[multiple=multiple] {
  height: auto
}

.fsForm select[multiple=multiple] option:not(:first-child) {
  padding-top: .2em
}

.fsForm select[multiple=multiple] option:not(:last-child) {
  padding-bottom: .2em
}

.rtl .fsFieldRow .fieldset-content select {
  margin-right: 10px
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  select {
    margin-top: 0;
    margin-bottom: 0
  }
}

.fsSubFieldGroup .fsNameFirst,
.fsSubFieldGroup .fsNameLast,
.fsSubFieldGroup .fsNameMiddle {
  width: 40%
}

.fsSubFieldGroup .fsNameInitial,
.fsSubFieldGroup .fsNamePrefix,
.fsSubFieldGroup .fsNameSuffix {
  width: 10%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameFirst {
  width: 45%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(2).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameLast {
  width: 50%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameFirst {
  width: 35%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameSuffix {
  width: 15%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1).fsNameLast {
  width: 40%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameFirst {
  width: 30%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameSuffix {
  width: 10%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(4).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(3).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(2).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(1).fsNameLast {
  width: 35%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameFirst {
  width: 27%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameSuffix {
  width: 7%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(5).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(4).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(3).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(2).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(1).fsNameLast {
  width: 32%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameFirst,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameFirst {
  width: 23%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameSuffix,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameInitial,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameMiddle,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNamePrefix,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameSuffix {
  width: 6%
}

.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(6).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(5).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(4).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(4):nth-last-child(3).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(5):nth-last-child(2).fsNameLast,
.fsSubFieldGroup .fsSubField:nth-child(6):nth-last-child(1).fsNameLast {
  width: 28%
}

.fsBody .fsSubField.fsFieldAddress {
  width: 100%
}

.fsBody .fsSubField.fsFieldAddress2 {
  width: 100%
}

.fsBody .fsSubField.fsFieldCity {
  width: 55%
}

.fsBody .fsSubField.fsFieldState {
  width: 25%
}

.fsBody .fsSubField.fsFieldZip {
  width: 10%
}

.fsBody .fsFieldAddress2 {
  margin-top: 0!important
}

@media (max-width:40em) {
  .fsBody .fsSubField.fsFieldZip {
    margin-bottom: 0
  }
}

@media all and (max-width:699px),
all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsBody .fsSubField.fsFieldState {
    width: 65%
  }
}

.fsSliderDiv {
  position: relative;
  float: left;
  width: 80%;
  margin-top: .75em;
  margin-left: .5em
}

.fsSliderDiv .ui-slider-handle {
  width: 1em;
  height: 1.7em;
  cursor: pointer
}

.fsSliderDiv .ui-state-default,
.fsSliderDiv .ui-widget-content .ui-state-default {
  border: none;
  background: 0 0
}

.fsSliderDiv.ui-slider-horizontal .ui-slider-handle {
  top: -.6em
}

.fsSliderDiv.ui-slider-horizontal {
  height: .5em
}

.fsSliderDiv.ui-widget-content {
  background: 0 0;
  background-image: none
}

.fsSliderDiv .ui-widget-header {
  border: none;
  background: 0 0;
  background-image: none
}

div.fsSliderValue {
  float: right;
  max-width: 15%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap
}

.fsNumberCurrencyValue {
  display: none
}

.fsCurrency {
  float: left;
  display: inline-block;
  width: 4%;
  text-align: right
}

.fsCurrency.fsCurrencySuffix {
  float: right;
  text-align: left
}

.fsCurrency~input.fsField {
  width: 91%!important
}

@media (max-width:40em) {
  .fsSliderDiv {
    width: 75%
  }
}

@font-face {
  font-family: TextMask;
  src: url(/forms/fonts/3/password.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

.fsTextMask {
  font-family: TextMask!important
}

.fsCounter {
  display: inline-block;
  width: 100%!important;
  text-align: right;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.fsProductField__image-container {
  float: left
}

.fsSpan100 .fsProductField__image-container {
  width: 10%;
  margin-right: 2%
}

.fsSpan50 .fsProductField__image-container {
  width: 25%
}

.fsProductField__image {
  width: 100%
}

.fsSpan100 .fsProductField__image,
.fsSpan50 .fsProductField__image {
  width: 90%
}

.fsProductField__info {
  float: left
}

.fsSpan100 .fsProductField__info,
.fsSpan50 .fsProductField__info {
  width: 68%
}

.rtl .fsSpan100 .fsProductField__info,
.rtl .fsSpan50 .fsProductField__info {
  float: right
}

.fsProductField__info--no-image {
  width: 100%
}

.fsSpan100 .fsProductField__info--no-image {
  margin-left: 0;
  width: 80%
}

.fsSpan50 .fsProductField__info--no-image {
  width: 100%
}

.fsProductField__info__name {
  font-weight: 400
}

.fsProductField__fields {
  margin-top: 10px;
  text-align: right
}

.fsSpan100 .fsProductField__fields {
  float: right;
  width: 20%;
  margin: 0
}

.rtl .fsProductField__fields {
  float: left;
  text-align: left
}

.fsProductField__fields__fixed-amount {
  font-weight: 700
}

.fsProductField__fields__quantity {
  margin-top: 5px
}

.fsProductField__fields__any-amount {
  margin-top: 29px
}

.fsProductField__fields__no-charge {
  margin-top: 25px
}

.fsProductField__fields__sold-out {
  margin-top: 4px
}

.fsProductField__wait-list {
  text-align: right
}

.fsProductField__wait-list label {
  font-weight: 400
}

.fsProductField__wait-list input[type=checkbox] {
  float: none;
  vertical-align: top
}

.fsBody .fieldset-content select,
.fsProductField select {
  width: auto
}

@media (max-width:40em) {
  .fsProductField__info {
    float: left;
    width: 63%
  }
  .fsProductField__info .fsProductField__info--no-image {
    width: 75%;
    margin-left: 0
  }
  .fsSpan100 .fsProductField__image-container {
    width: 15%
  }
  .fsProductField__image {
    float: left;
    width: 100%;
    height: 100%;
    margin-right: 0
  }
  .fsProductField__fields {
    width: 25%;
    text-align: right
  }
  .fsProductField__fields__fixed-amount,
  .fsProductField__fields__quantity {
    float: right
  }
}

.fsMatrix {
  width: 100%;
  border-collapse: separate!important;
  border-spacing: 0!important
}

.fsMatrix th {
  font-weight: 400
}

.fsMatrix td {
  padding: 4px 0;
  text-align: center
}

.fsMatrix td input[type=checkbox],
.fsMatrix td input[type=radio] {
  top: 0!important;
  margin: 0
}

.fsMatrix td input[type=checkbox],
.fsMatrix td input[type=radio] {
  float: none
}

.fsMatrix td,
.fsMatrix th {
  border: none;
  overflow: hidden
}

.fsMatrix tr:first-child th:first-child {
  border: none
}

.fsMatrix .th.fsMatrixLabelColumn,
.fsMatrix .th.fsMatrixLabelRow {
  padding: .25em .5em;
  vertical-align: middle
}

.rtl .fsFieldRow .fsMatrix td,
.rtl .fsFieldRow .fsMatrix th {
  border-right: 1px solid #acb5bf
}

.rtl .fsFieldRow .fsMatrix td input[type=checkbox],
.rtl .fsFieldRow .fsMatrix td input[type=radio] {
  float: none
}

.fsMatrixCol1,
.fsMatrixCol2 {
  width: 15%;
  font-weight: 400
}

.fsMatrixColCount1 {
  width: 100%
}

.fsMatrixColCount2 {
  width: 50%
}

.fsMatrixColCount3 {
  width: 33%
}

.fsMatrixColCount4 {
  width: 25%
}

.fsMatrixColCount5 {
  width: 20%
}

.fsMatrixColCount6 {
  width: 16%
}

.fsMatrixColCount7 {
  width: 14%
}

.fsMatrixColCount8 {
  width: 12.5%
}

.fsMatrixColCount9 {
  width: 11%
}

.fsMatrixColCount10 {
  width: 10%
}

.fsMatrixColCount11 {
  width: 9%
}

.fsMatrixColCount12 {
  width: 8%
}

.fsMatrixColCount13 {
  width: 7.5%
}

.fsMatrixColCount14 {
  width: 7%
}

.fsMatrixColCount15 {
  width: 6.5%
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsMatrixLabel {
    padding: .25em .5em
  }
}

div.fsFileUploadContainer {
  background-color: #efefef;
  padding: 6px;
  width: 180px;
  text-align: center
}

a.fsFileValue {
  display: block;
  margin-bottom: .5em
}

input.fsFilePreview {
  max-height: 170px;
  max-width: 170px
}

.fsForm .fsFileUploadButton,
.fsForm input[type=file]::-webkit-file-upload-button {
  display: inline-block;
  padding: 0 .5em;
  border: none
}

.fsBody .fieldset-content .ui-datepicker-trigger,
.fsBody .fieldset-content select {
  float: left
}

.fsBody .fieldset-content .always-ltr {
  display: inline-block;
  width: 100%
}

.fsBody .fieldset-content .always-ltr>*,
.fsBody .fieldset-content select>* {
  float: left
}

.fsBody .fieldset-content .always-ltr span,
.fsBody .fieldset-content select span {
  position: relative
}

.fsBody .fieldset-content select:last-of-type {
  margin-right: 0
}

.fsBody .fieldset-content .always-ltr-align-right {
  direction: ltr;
  text-align: right;
  margin: 10px 0 0 7px;
  display: inline-block;
  width: 100%
}

.fsBody .fieldset-content .always-ltr-align-right span {
  margin: 0 3px 0 -5px
}

.fsBody .fieldset-content .always-ltr-align-right>* {
  float: none
}

.fsBody .ui-datepicker-trigger {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer
}

.fsSignature {
  -ms-touch-action: none
}

.fsSignature+div {
  float: right;
  display: inline-block;
  margin-top: 2px
}

.wf-active .fsSignature {
  font-family: Arial, Tahoma, sans-serif
}

img.fsCreditCardLogo {
  border: none;
  vertical-align: middle;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.fsBlankSection {
  display: none
}

.fsborderradius .fsBody .fsSectionHeader {
  margin: 0
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

.fsForm.fsMaxCol1 {
  width: 700px
}

.fsForm.fsMaxCol2 {
  width: 800px
}

.fsForm.fsMaxCol3 {
  width: 900px
}

.fsForm.fsMaxCol4 {
  width: 1100px
}

.fs2Col .fsFieldCell,
.fs3Col .fsFieldCell,
.fs4Col .fsFieldCell {
  float: left
}

.fsFieldRow .fsFieldCell {
  margin: 0 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.fsFieldRow .fsFieldCell:nth-child(1) {
  margin-left: 0
}

.fsFieldRow .fsFieldCell:nth-last-child(2) {
  margin-right: 0
}

.fsFieldRow .fsFieldCell.fsSpan100 {
  margin: 0
}

.fsFieldRow .fsFieldCell.fsSpan75 {
  width: 71%;
  width: calc(73%)
}

.fsFieldRow .fsFieldCell.fsSpan66 {
  width: 63%;
  width: calc(96% / 3 * 2)
}

.fsFieldRow .fsFieldCell.fsSpan50 {
  width: 46%;
  width: calc(48%)
}

.fsFieldRow .fsFieldCell.fsSpan33 {
  width: 29.33%;
  width: calc(92% / 3)
}

.fsFieldRow .fsFieldCell.fsSpan25 {
  width: 21%;
  width: calc(22%)
}

.fsFieldRow .fsFieldCell.fsSpan25 div.fsSliderValue,
.fsFieldRow .fsFieldCell.fsSpan33 div.fsSliderValue,
.fsFieldRow .fsFieldCell.fsSpan50 div.fsSliderValue,
.fsFieldRow .fsFieldCell.fsSpan66 div.fsSliderValue,
.fsFieldRow .fsFieldCell.fsSpan75 div.fsSliderValue {
  max-width: 25%
}

.fsFieldRow .fsFieldCell.fsSpan25 .fsSliderDiv,
.fsFieldRow .fsFieldCell.fsSpan33 .fsSliderDiv,
.fsFieldRow .fsFieldCell.fsSpan50 .fsSliderDiv,
.fsFieldRow .fsFieldCell.fsSpan66 .fsSliderDiv,
.fsFieldRow .fsFieldCell.fsSpan75 .fsSliderDiv {
  width: 70%
}

.fsFirst.fsLast.fsFieldCell {
  float: none
}

@media all and (max-width:699px),
all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsBody .fs3Col .fsFieldCell,
  .fsBody .fs4Col .fsFieldCell {
    width: 100%;
    margin: 0
  }
  .fsBody .fs2Col,
  .fsBody .fs3Col,
  .fsBody .fs4Col {
    min-width: inherit
  }
}

@media (max-width:480px) {
  .fsBody .fs2Col .fsFieldCell,
  .fsBody .fs3Col .fsFieldCell,
  .fsBody .fs4Col .fsFieldCell {
    width: 100%;
    margin: 0
  }
}

.fsForm select[multiple=multiple]::-webkit-scrollbar,
.fsForm textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

.fsForm select[multiple=multiple]::-webkit-scrollbar-track-piece,
.fsForm textarea::-webkit-scrollbar-track-piece {
  background-color: transparent
}

.fsForm select[multiple=multiple]::-webkit-scrollbar-thumb,
.fsForm textarea::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  -webkit-border-radius: 5px;
  background-clip: padding-box
}

.fsForm select[multiple=multiple]::-webkit-scrollbar-button,
.fsForm textarea::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0
}

.fsForm select[multiple=multiple]::-webkit-scrollbar-corner,
.fsForm textarea::-webkit-scrollbar-corner {
  background-color: transparent
}

.fsForm .fsSubmit {
  clear: left;
  background-color: transparent
}

.fsSubmitButton {
  margin: 0 auto;
  clear: both
}

.fsSubmit input.fsSubmitButton.nice:hover {
  zoom: 1;
  opacity: .87
}

.fsSubmit input.fsSubmitMultipage {
  float: right;
  clear: none
}

.rtl .fsSubmit input.fsSubmitMultipage {
  float: left;
  clear: none
}

.fsPagination {
  text-align: center
}

.fsPagination .fsNextButton {
  float: right
}

.fsPagination .fsPreviousButton {
  float: left
}

.fsPagination .fsNextButton,
.fsPagination .fsPreviousButton,
.fsPagination .fsSubmitButton {
  cursor: pointer
}

.rtl .fsPagination .fsNextButton {
  float: left
}

.rtl .fsPagination .fsPreviousButton {
  float: right
}

div.fsProgress {
  display: inline-block;
  width: 100%;
  clear: both
}

div.fsProgressBarContainer {
  position: relative;
  width: 100%
}

div.fsProgressBar {
  width: 0;
  height: inherit
}

div.fsProgressText {
  z-index: 10;
  width: 100%;
  text-align: center
}

div.fsSaveIncomplete {
  text-align: center;
  clear: left
}

.fsResumeLink {
  font-weight: 700;
  font-size: 14px
}

@media all and (max-width:699px),
all and (device-height:1024px) and (device-width:768px) and (orientation:portrait),
all and (device-height:1024px) and (device-width:768px) and (orientation:landscape) {
  span.fsFull {
    display: none
  }
  .fsBody .fsForm,
  .fsBody .fsPage {
    min-width: inherit;
    width: 100%
  }
  .fsPagination .fsSubmitButton {
    display: inline-block;
    width: 100%
  }
  .fsPagination .fsNextButton,
  .fsPagination .fsPreviousButton {
    width: 50px;
    height: 50px;
    padding: 0;
    -moz-border-radius: 50%!important;
    -webkit-border-radius: 50%;
    border-radius: 50%!important;
    user-select: none
  }
  .fsPagination .fsSlim {
    display: none
  }
  .fsPagination .fsNextButton:before,
  .fsPagination .fsPreviousButton:before {
    display: block;
    text-indent: 0;
    font-size: 1.5em;
    line-height: 0
  }
  .fsPagination .fsNextButton:before {
    content: '\21E8'
  }
  .fsPagination .fsPreviousButton:before {
    content: '\21E6'
  }
  .rtl .fsPagination .fsNextButton:before {
    content: '\21E6'
  }
  .rtl .fsPagination .fsPreviousButton:before {
    content: '\21E8'
  }
}

#fsConfirmAd table {
  width: 100%;
  margin: 36px auto
}

#fsConfirmAd h2 {
  margin: 0;
  padding: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 0 #000;
  background: #42bd21;
  color: #fff
}

#fsConfirmAd li {
  margin-bottom: 18px
}

#fsConfirmAd img {
  min-width: 151px
}

#fsConfirmAd img,
#fsConfirmAd ul {
  margin: 18px
}

#fsSubmissionCheckmark {
  float: left;
  width: 100%;
  height: 68px;
  background-size: 58px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/3/confirmationCheckmark-new.png)
}

#fsSubmissionCheckmark~.fsSectionText {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  padding-left: 0!important
}

.fsBody .fsPasswordForm {
  width: 400px;
  padding-bottom: 15px
}

.fsPasswordForm label {
  display: block;
  font-size: 13px;
  color: #656565
}

.fsPasswordForm .fsRowBody input {
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700
}

.fsPasswordForm td.fsRowBody {
  padding: 18px 0 24px
}

.fsSSOForm label {
  display: inline
}

#fsLearnMore {
  display: block;
  height: 25px;
  width: 155px;
  margin: 18px auto;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  background: url(../../images/3/buttonBG.png)
}

.discountcodeMsg {
  display: block;
  font-style: italic;
  font-size: x-small
}

#recaptcha_area {
  margin-left: auto;
  margin-right: auto
}

#mobile-alert p {
  width: 100%;
  text-align: center!important
}

#mobile-alert input[type=submit] {
  border: none;
  text-decoration: underline;
  color: red;
  background: 0 0;
  cursor: pointer
}

@media all and (max-width:699px),
all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),
all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
  .fsBody .fsPasswordForm {
    width: 100%
  }
  .stacklock {
    clear: both;
    margin-top: 70px!important
  }
  .stacklock * {
    float: none
  }
}

.fsSocialAutofill {
  margin: 15px 15px 0 15px
}

.fsSocialAutofill .fsLabel {
  width: auto;
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 2em
}

.fsSocialAutofill--icons {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  line-height: 36px
}

.fsSocialAutofill--icons a {
  font-size: 42px;
  text-decoration: none;
  opacity: .8
}

.fsSocialAutofill--icons a:hover {
  opacity: 1
}

.fsSocialAutofill--buttons a {
  display: inline-block;
  margin: .5em 0;
  padding: .4em 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  text-decoration: none;
  font-weight: 500;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
  color: #333;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTA4ODc3IiB5MT0iLTAuMDA4NTczIiB4Mj0iMC40OTExMjMiIHkyPSIxLjAwODU3MyI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -moz-linear-gradient(269deg, #fff 0, #efefef 100%);
  background-image: -webkit-linear-gradient(269deg, #fff 0, #efefef 100%);
  background-image: linear-gradient(-179deg, #fff 0, #efefef 100%)
}

.fsSocialAutofill--buttons a span {
  display: block;
  padding-left: 2em;
  background-repeat: no-repeat;
  background-position: 0;
  font-size: .75em;
  line-height: 1.6
}

.fsSocialAutofill--buttons a:hover {
  border: 1px solid #afafaf;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTA4ODc3IiB5MT0iLTAuMDA4NTczIiB4Mj0iMC40OTExMjMiIHkyPSIxLjAwODU3MyI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -moz-linear-gradient(269deg, #fff 0, #e0e0e0 100%);
  background-image: -webkit-linear-gradient(269deg, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(-179deg, #fff 0, #e0e0e0 100%)
}

.fsSocialAutofill--buttons .facebook_autofill span {
  background-image: url(../../images/icon-facebook.png)
}

.fsSocialAutofill--buttons .twitter_autofill span {
  background-image: url(../../images/icon-twitter.png)
}

.fsForm .fsWorkflowSendBack {
  margin-top: 14px;
  font-size: 16px
}

.fsForm .fsWorkflowSendBack a {
  text-decoration: underline;
  cursor: pointer
}

.fsForm .fsWorkflowSendBack svg {
  margin-bottom: -2px;
  width: 14px;
  height: 14px
}
