.fsBody {
  font-style: normal;
  font-weight: normal;
  font-size: 62.5%;
}

.wf-active .fsBody,
.wf-active .fsBody input,
.wf-active .fsBody select,
.wf-active .fsBody textarea {
  font-family: 'IBM Plex Sans', sans-serif;
}


/* Section Heading Container */

.fsBody .fsSectionHeader {
  margin-bottom: 0.7em;
  /* Works on Preview */
  padding: 0;
  background-color: inherit;
}

.fsborderradius .fsBody .fsSectionHeader {
  margin-bottom: 0.7em;
  /* Works on Live */
}


/* Section Heading Text */

.fsBody .fsForm .fsSectionHeading {
  margin-top: 2em;
  text-align: left;
  font-size: 2.4em;
  font-weight: 400;
  color: #171717;
}


/* Field Labels */

.fsBody .fsLabel {
  color: #212121;
  border-color: #171717;
  font-size: 1.8em;
  margin-top: 0px;
  margin-bottom: 1.1em;
}

.fsRequiredMarker {
  font-size: 1.8em;
  visibility: hidden;
  position: relative;
}

.fsRequiredMarker:after {
  visibility: visible;
  top: 0;
  left: 0;
  content: "(*Required)";
  font-size: 18px;
  color: #cd2026;
  /*font-weight: 700;*/
}

.fsFieldCell {
  display: flex;
  flex-direction: column;
}

.fsFieldCell input,
.fsFieldCell textarea,
.fsFieldCell select {
  border-radius: 4px;
  border-color: #dbdee1;
}

.fsFieldCell > .fsSupporting {
  order: 1;
  /* Place helper text above input field*/
  font-size: 1.6em;
  line-height: 1.5em;
  color: #212121;
  margin-bottom: 1em;
  /*margin-top: 1em;*/
}

.fsField {
  order: 2;
  /* Place input field below helper text*/
}
