<div>
  {{#unless isProduction}}
    <!-- Add modified Formstack source code for debugging and Handlebar compatibility -->
    <script type="text/javascript">
      {{> Formstack }}
    </script>
  {{/unless}}
  <script type="text/javascript">
    {{> moveHelperText }}
  </script>
  <script type="text/javascript">
    {{> renderBody }}
  </script>
</div>
